.container {
  width: 100%;
  margin: 125px 100px;
}

/* fix the right alignment of the nav dropdown menu */
#gitwise-nav-dropdown + div {
  right: 0;
  left: auto;
  z-index: 10003;
}

#gitwise-nav-dropdown {
  color: #fff;
}
